<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.datasource">java:/comp/env/jdbc/SicafDB</property>
		<property name="current_session_context_class">thread</property>
		<!-- usando as configurações do C3PO para pool de conexões -->
		<property name="c3po.minsize">5</property>
		<property name="c3.po.max_size">20</property>
		<property name="c3po.timeout">300</property>
		<property name="c3po.maxstatements">50</property>
		<property name="c3po.idle_test_period">3000</property>
		<!-- Configurações de debug -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="generate_statistics">true</property>
		<property name="use_sql_comments">true</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping class="sicaf.usuario.Usuario"/>
		<mapping class="sicaf.categoria.Categoria"/>
		<mapping class="sicaf.setor.Setor"/>
		<mapping class="sicaf.pessoa.Pessoa"/>
		<mapping class="sicaf.pessoaSetor.PessoaSetor"/>
		<mapping class="sicaf.perfil.Perfil"/>
	</session-factory>
</hibernate-configuration>